@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
}

body {
  background-image: url("Images/countries.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(87, 165, 234);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f0e7e7dc;
  border: none;
  border-radius: 18px;
  padding: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

#made-by {
  align-self: flex-start;
}

.centered {
  font-size: 28px;
  margin-top: 33px;
  text-align: center;
}

p {
  font-size: larger;
}

h1 {
  font-size: 2rem;
  text-align: center;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

.difficulty,
.options {
  display: flex;
  flex-direction: column;
}

.difficulty > button {
  background-color: #007bff;
  font-size: 24px;
  border: none;
  color: #ffffff;
  padding: 11px;
  border-radius: 7px;
  margin-top: 25px;
  width: 600px;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}

.difficulty > button:hover {
  background-color: #0056b3;
}

.difficulty > button:active {
  opacity: 0.8;
}

.options {
  display: flex;
  flex-direction: column;
}

.options button {
  background-color: #007bff;
  font-size: 20px;
  border: none;
  color: #ffffff;
  padding: 11px;
  border-radius: 7px;
  margin-top: 18px;
  width: 600px;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}

.options > button:hover {
  background-color: #0056b3;
}

.options > button:active {
  opacity: 0.8;
}

.time-left {
  font-size: 22px;
  margin-top: 12px;
  color: darkblue;
  text-align: center;
}

.next-button {
  text-align: center;
  width: 120px;
  background-color: #007bff;
  font-size: 20px;
  border: none;
  color: #ffffff;
  padding: 11px;
  border-radius: 7px;
  margin-top: 18px;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
}

.next-button:hover {
  background-color: #0056b3;
}

.next-button:active {
  opacity: 0.8;
}

.flag {
  object-fit: stretch;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.flag-dimensions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
  height: 200px;
  width: 300px;
}
.remaining-time {
  font-size: 20px;
  text-align: center;
  color: rgb(183, 34, 34);
  font-weight: 700;
  margin-top: 15px;
}

.remaining-questions {
  font-size: 16px;
  color: blueviolet;
  font-weight: 700;
}

.options button.correct {
  background-color: rgb(29, 152, 29);
}

.options button.wrong {
  background-color: rgb(200, 13, 13);
}

.popup {
  display: none;
  position: fixed;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.popup-content {
  position: relative;
  background-color: #fefefe;
  z-index: 5;
  margin: auto;
  padding: 40px;
  width: 500px;
  height: 160px;
}

#time-ended {
  font-size: 33px;
  text-wrap: nowrap;
  text-align: center;
  font-weight: 700;
  color: rgba(181, 0, 0, 0.901);
}

#score-display {
  font-size: 22px;
  color: green;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}

#play-again {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(241, 228, 228);
  font-weight: 500;
  font-size: 22px;
  align-items: center;
  margin-top: 100px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  background-color: rgb(31, 147, 31);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#play-again:hover {
  background-color: green;
}

#play-again:active {
  opacity: 0.8;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }

  50% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }

  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
}

.glowing {
  animation: glow 2s infinite;
}
